/* .taskBox-spanTag, */
.taskBox-inputTag {
    /* 我想把这个input充满 */
    width: calc(100% - 280px);
    font-size: large;
}

.taskTrailing {
    /* float: right; */
    display: inline-block;
    font-size: small;
}

#container, #sidebar {
    overflow: scroll;
}

/* #sidebar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 320px;
    height: 100vh;
    border-right: 1px solid;
}

#right {
    padding: 0 0 0 320px;
} */

/* 隐藏 body 超出 <html> 的多余部分 */
html {
    overflow: hidden;
}

/* flexbox */
body {
    /* 为了去除 body 外的 margin 而导致的滚动条*/
    box-sizing: border-box;
    margin: 0;
    padding: 8px;

    display: flex;
    block-size: 100vh;
}

#sidebar {
    inline-size: 30%;
    border-right: 1px solid;
    position: relative;
}

#right {
    inline-size: 70%;
}

/* 移动端 */
@media screen and (max-width: 768px) {
    #sidebar, #right {
        inline-size: 100%;
        position: absolute;
        block-size: 100%;
    }

    #sidebar {
        display: none;
    }
}


#topBar {
    position: relative;
}

#topBar>* {
    display: inline;
}

#generalOptions {
    /* 按钮不多，暂时不需要flexbox */
    display: flex;
    position: absolute;
    bottom: 0;
    inline-size: 100%;
}

.groupItem {
    position: relative;
}

.groupTrailing {
    position: absolute;
    right: 0px;
    top: 0px;
}

.groupItem:hover .taskNumber {
    display: none;
}

.groupItem:hover .groupOptions {
    display: block;
}

.groupOptions {
    display: none;
}

#allTasks .taskNumber,
#toDeadline .taskNumber {
    display: block;
}

#groupList[remainingGroups="1"] .deleteGroup {
    display: none;
}

.taskOptions {
    display: none;
}

.taskItem[isFocusing="true"] .taskOptions {
    display: block;
}

.taskMain {
    border: 2px solid blue;
    margin-top: 1em;
}

.taskContent {
    border: none;
}

.grouping {
    display: none;
}